*{Add assessment form input from user is sent to the add assessment method}*

<form class="ui raised segment form" action="/dashboard/addassessment" method="POST">

    <div class="three fields">
        <div class="field">
            <label>Weight</label>
            <input placeholder="00.00kg" type="number" step="0.01" min="0" name="weight">
        </div>
        <div class="field">
            <label>Chest</label>
            <input placeholder="00.00cm" type="number" step="0.01" min="0" name="chest">

        </div>
        <div class="field">
            <label>Thigh</label>
            <input placeholder="00.00cm" type="number" step="0.01" min="0" name="thigh">
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>Upper Arm</label>
            <input placeholder="00.00cm" type="number" step="0.01" min="0" name="upperarm">
        </div>
        <div class="field">
            <label>Waist</label>
            <input placeholder="00.00cm" type="number" step="0.01" min="0" name="waist">

        </div>
        <div class="field">
            <label>Hips</label>
            <input placeholder="00.00cm" type="number" step="0.01" min="0" name="hip">
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>
