*{ About page is an information page with details about the gym}*

#{extends 'main.html' /}
#{set title:'About' /}

#{if session.contains("logged_in_Memberid") || session.contains("logged_in_Trainerid")}
    #{menu id:"about"/}
#{/if}
#{else}
    #{welcomemenu id:"about"/}
#{/else}

<div class="ui two column middle aligned grid basic segment">
    <section class="column center aligned">
        <h1 class="ui header">
            About BMI Tracker
        </h1>
        <p>
            Use this App to fill in your assessments <br>
            week by week and track your BMI rate,<br>
            BMI category and Ideal weight
        </p>
        <p>
            Your Trainer will check your progress regularly.<br>
            They will leave your comments on your progress, encouraging <br>
            you to keep going through the good times and the bad!
        </p>
    </section>
    <div class="column">
        <img src="/public/images/sport_icons.jpg" alt="sports icon for BMI tracker" class="ui image">
    </div>
</div>
