*{ Member profile page contains a form for a member to view their details and update them if needed
The inputted data is stored for the member}*
#{extends 'main.html' /}
#{set title:'Members Profile' /}

#{if session.contains("logged_in_Memberid") || session.contains("logged_in_Trainerid")}
    #{menu id:"profile"/}
#{/if}
#{else}
    #{welcomemenu id:"profile"/}
#{/else}


<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui stacked segment form" action="/update-member-profile" method="POST">
            <h3 class="ui header">${member.firstname} Profile</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder=" ${member.firstname}" type="text" name="firstname">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder=" ${member.lastname}" type="text" name="lastname">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder=" ${member.email}" type="text" name="email">
            </div>
            <div class="field">
                <label>Password</label>
                <input placeholder="........" type="password" name="password">
            </div>

            <div class="field">
                <label>Address</label>
                <input placeholder=" ${member.address}" type="text" name="address">
            </div>
            <div class="field">
                <label>Gender</label>
            #{if member.gender.equals("male")}
                <input type="radio" name="gender" value="male" checked>Male
                <input type="radio" name="gender" value="female"> Female
            #{/if}
            #{else}
                <input type="radio" name="gender" value="male">Male
                <input type="radio" name="gender" value="female" checked> Female
            #{/else}

            </div>
            <div class="two fields">
                <div class="field">
                    <label>Height</label>
                    <input placeholder=" ${member.height}" type="number" step="0.01" min="0" name="height">
                </div>
                <div class="field">
                    <label>Starting Weight</label>
                    <input placeholder=" ${member.startweight}" type="number" step="0.01" min="0" name="startweight">
                </div>
            </div>
            <button class="ui blue submit button">Submit</button>
        </form>
    </div>
    <div class="column">
        <img class="ui image" src="/public/images/sport_icons.jpg">
    </div>
</div>